#road{
    height: 150px;
    background-color: #ccc;
    border-bottom: 5px solid;
    border-top: 5px solid;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#line{
    height: 10px;
    border-top: 5px dashed #fff;

}
#car{
    height: 50px;
    width: 100px;
    top: 162px;
    position: absolute;
    background: url(car.png);
    background-size: 100%;
    background-repeat: no-repeat;
}